<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.chatting.ChatMapper">

	<select id="cheackCode" resultType="boolean">
		SELECT CASE
		WHEN COUNT(*) > 0
		THEN 1
		ELSE 0
		END AS result
		FROM chat_tbl
		WHERE buy_code = #{buy_code} AND
		sell_code = #{sell_code} AND
		board_id = #{board_id}
	</select>




	<insert id="insertChat" parameterType="ChatDTO">
		INSERT INTO chat_tbl (
		chat_code,
		buy_code,
		sell_code,
		board_id
		)
		VALUES (
		seq_chat_code.nextval,
		#{buy_code},
		#{sell_code},
		#{board_id}
		)
	</insert>

	<select id="selectChatSellCode" parameterType="String"
		resultType="ChatDTO">
		SELECT * FROM chat_tbl
		WHERE buy_code = #{buy_code,
		jdbcType=VARCHAR} OR
		sell_code = #{buy_code,
		jdbcType=VARCHAR}

	</select>

	<select id="selectCountCode" parameterType="String"
		resultType="ChatDTO">
		SELECT COUNT(*) FROM chat_tbl WHERE buy_code = #{buy_code}
	</select>

	<select id="selectChatChatCode" parameterType="String"
		resultType="String">
		SELECT chat_code FROM chat_tbl
		WHERE chat_code =
		#{chat_code}
	</select>
</mapper>